___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 or b % 2:
        if a > b:
            return a
        else:
            return b
    else:
        if a < b:
            return a
        else:
            return b

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    mylist = text.split()
    return mylist[0][0] == mylist[1][0]

In [9]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [19]:
# Check
makes_twenty(20,10)
makes_twenty(12,8)

True

In [17]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [29]:
def old_macdonald(name):
    new_name = list(name.capitalize())
    new_name[3] = new_name[3].upper()
    return ''.join(new_name)

In [31]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [37]:
def master_yoda(text):
    yoda = text.split()
    return ' '.join(yoda[::-1])

In [39]:
# Check
master_yoda('I am home')

'home am I'

In [41]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [43]:
def almost_there(n):
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [51]:
# Check
#almost_there(104)
almost_there(90)

True

In [47]:
# Check
almost_there(150)

False

In [49]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [61]:
def has_33(nums):
    found3 = False
    for x in nums:
        if found3:
            if x == 3:
                return True
            else:
                found3 = False
        else:
            found3 = x == 3
    return False

In [63]:
# Check
has_33([1, 3, 3])

True

In [65]:
# Check
has_33([1, 3, 1, 3])

False

In [67]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [5]:
def paper_doll(text):
    doll = []
    for c in text:
        doll.append(c)
        doll.append(c)
        doll.append(c)
    return ''.join(doll)

In [7]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [9]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [11]:
def blackjack(a,b,c):
    sum = a + b + c
    num_list = [a, b, c]
    if sum < 21:
        return sum
    else:
        if 11 in num_list:
            return sum - 10
        else:
            return 'BUST'

In [13]:
# Check
blackjack(5,6,7)

18

In [15]:
# Check
blackjack(9,9,9)

'BUST'

In [17]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [37]:
def summer_69(arr):
    found6 = False
    sum = 0
    for n in arr:
        if found6:
            if n == 9:
                found6 = False
        elif n == 6:
            found6 = True
        else:
            sum = sum + n
    return sum

In [39]:
# Check
summer_69([1, 3, 5])

9

In [41]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [43]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [45]:
def spy_game(nums):
    match = [0,0,7]
    spy = 0
    for n in nums:
        if n == match[spy]:
            spy = spy + 1
        if spy > 2:
            return True
    return False

In [47]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [49]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [51]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [83]:
prime_numbers = set()
prime_numbers.add(2)
def is_prime(num):
    if num in prime_numbers:
        return True
    loop_count = 0
    for divider in range(3, num, 2):
        loop_count += 1
        if num % divider == 0:
            return False
        elif divider > num/2:
            break
    print(f'is_prime loop count {loop_count}')
    return True
    
def count_primes(num):
    count = 1
    loop_count = 0
    for n in range(3, num+1,2):
        loop_count += 1
        if is_prime(n):
            prime_numbers.add(n)
            count = count + 1
    print(f'count_primes loop count {loop_count}')
    print(prime_numbers)
    return count

print(f'prime numbers = {count_primes(25)}')
print(f'prime numbers = {count_primes(10)}')

is_prime loop count 0
is_prime loop count 1
is_prime loop count 2
is_prime loop count 3
is_prime loop count 3
is_prime loop count 4
is_prime loop count 5
is_prime loop count 6
count_primes loop count 12
{2, 3, 5, 7, 11, 13, 17, 19, 23}
prime numbers = 9
count_primes loop count 4
{2, 3, 5, 7, 11, 13, 17, 19, 23}
prime numbers = 4

In [23]:
# Check
count_primes(100)

is_prime loop count 0
is_prime loop count 1
is_prime loop count 2
is_prime loop count 3
is_prime loop count 5
is_prime loop count 6
is_prime loop count 8
is_prime loop count 9
is_prime loop count 11
is_prime loop count 14
is_prime loop count 15
is_prime loop count 18
is_prime loop count 20
is_prime loop count 21
is_prime loop count 23
is_prime loop count 26
is_prime loop count 29
is_prime loop count 30
is_prime loop count 33
is_prime loop count 35
is_prime loop count 36
is_prime loop count 39
is_prime loop count 41
is_prime loop count 44
is_prime loop count 48
count_primes loop count 99
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [69]:
def get_font(letter):
    a = ['  *  ',
         ' * * ',
         '*****',
         '*   *',
         '*   *',
        ]
    b = ['**** ',
         '*   *',
         '**** ',
         '*   *',
         '**** ',
        ]
    map = {'a':a, 'b':b}    
    return map[letter]
    
def print_big(letter):
    for s in get_font(letter):
        print(s)

In [77]:
print_big('a')
print('-----')
print_big('b')

  *
 * *
*****
*   *
*   *
-----
****
*   *
****
*   *
****

## Great Job!